/*====================SLIDER====================*/

#sliderbar {
	height: 500px;
	margin: 0 auto;
	margin-top: 20px;
}

#sliderbar [id*="slider"] {
	background: #fff;
	box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
	float: left;
	height: inherit;
	margin-right: .333333333333%;
	position: relative;
	width: 33%;
}

#sliderbar [id*="slider"]:last-child {
	margin-right: 0;
	width: 33.333333333333%;
}

.slideritem {
	height: inherit;
	line-height: 500px;
}

.slideritem .productname {
	position: absolute;
	display: block;
	line-height: 20px;
	border-radius: 5px;
	font-family: 'Open sans', sans-serif;
	color: #4284b6;
	font-size: 20px;
	text-align: center;
	left: 1%;
	right: 1%;
	bottom: 60px;
}

.slideritem .price {
	position: absolute;
	display: block;
	height: 50px;
	width: 25%;
	background: #fff;
	border-radius: 5px;
	font-family: 'Exo', sans-serif;
	color: #444;
	font-size: 2.5em;
	text-align: center;
	line-height: 45px;
	left: 50px;
	bottom: 90px;
}

.slideritem .more {
	position: absolute;
	display: block;
	height: 50px;
	width: 50px;
	background: #a22323;
	border-radius: 25px;
	font-family: 'Oxygen', sans-serif;
	color: #fff;
	font-size: 50px;
	text-transform: lowercase;
	text-align: center;
	line-height: 45px;
	right: 50px;
	bottom: 90px;
}

.slideritem .more:hover {
	background: #720505;
	color: #eee;
}

.vertical-carousel-inner {
	height: inherit;
}

.vertical-carousel-inner > .slideritem.next,
.vertical-carousel-inner > .slideritem.active.right {
	bottom: 0;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}

.vertical-carousel-inner > .slideritem.prev,
.vertical-carousel-inner > .slideritem.active.left {
	bottom: 0;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}

.vertical-carousel-inner > .slideritem.next.left,
.vertical-carousel-inner > .slideritem.prev.right,
.vertical-carousel-inner > .slideritem.active {
	bottom: 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.vertical-carousel-inner > .active,
.vertical-carousel-inner > .next,
.vertical-carousel-inner > .prev {
	display: block;
}

.vertical-carousel-inner > .active {
	bottom: 0;
}

.vertical-carousel-inner > .next,
.vertical-carousel-inner > .prev {
	left: 0;
	position: absolute;
	width: 100%;
}

.vertical-carousel-inner > .next {
	bottom: 100%;
}

.vertical-carousel-inner > .prev {
	bottom: -100%;
}

.vertical-carousel-inner > .next.left,
.vertical-carousel-inner > .prev.right {
	bottom: 0;
}

.vertical-carousel-inner > .active.left {
	bottom: -100%;
}

.vertical-carousel-inner > .active.right {
	bottom: 100%;
}

.slideritem img {
	display: inline-block !important;
	vertical-align: middle;
}

#sliderbar .arrow {
	cursor: pointer;
	display: block;
	height: 40px;
	left: calc(50% - 20px);
	position: relative;
	transform: rotateZ(45deg);
	width: 40px;
}

#sliderbar .shadow-top {
	top: 0;
}

#sliderbar .shadow-bottom {
	bottom: 0;
}

#sliderbar .arrow-top {
	border-left: 2px solid #999;
	border-top: 2px solid #999;
	top: 20px;
}

#sliderbar .arrow-bottom {
	border-bottom: 2px solid #999;
	border-right: 2px solid #999;
	top: 15px;
}

#sliderbar [class*="shadow"] {
	cursor: pointer;
	height: 15%;
	left: 0;
	opacity: .4;
	position: absolute;
	transition: opacity .3s ease;
	width: 100%;
}

#sliderbar .shadow-top:hover,
#sliderbar .shadow-bottom:hover {
	opacity: 1;
}

#sliderbar .shadow-top:hover {
	background: -moz-linear-gradient(top, rgba(200,200,200,0.65) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-linear-gradient(top, rgba(200,200,200,0.65) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom, rgba(200,200,200,0.65) 0%,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
}

#sliderbar .shadow-bottom:hover {
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(200,200,200,0.65) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(200,200,200,0.65) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(200,200,200,0.65) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}

/*====================ASIDE MENU====================*/

#aside-menu {
	background: #e0d5b7;
	box-shadow: 0 -2px 5px rgba(0, 0, 0, .3);
	height: 50px;
	margin-top: 20px;
}

#aside-menu nav ul {
	float: left;
	font-size: 0;
	margin-left: 10px;
}

#aside-menu nav li {
	display: inline-block;
	font-family: 'PT Sans', sans-serif;
	font-size: 14.8px;
	line-height: 50px;
	padding: 0 10px;
	text-transform: uppercase;
}

#aside-menu nav li a,
#aside-menu nav li a:hover,
#aside-menu nav li a:focus,
#aside-menu nav li a:active,
#aside-menu nav li a:visited,
#aside-menu nav li a:link {
	color: #707070;
	text-decoration: none;
}

#aside-menu nav li a {
	transition: color .2s ease;
}

#aside-menu nav li a:hover {
	color: #000;
}

/*====================MAIN====================*/

#catalog {
	align-content: flex-start;
	background: #eae1c8;
	background: -moz-radial-gradient(center, ellipse cover, #eae1c8 0%, #ded6c1 35%, #e0d5b8 59%, #eae1c8 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #eae1c8), color-stop(35%, #ded6c1), color-stop(59%, #e0d5b8), color-stop(100%, #eae1c8));
	background: -webkit-radial-gradient(center, ellipse cover, #eae1c8 0%, #ded6c1 35%, #e0d5b8 59%, #eae1c8 100%);
	background: -o-radial-gradient(center, ellipse cover, #eae1c8 0%, #ded6c1 35%, #e0d5b8 59%, #eae1c8 100%);
	background: -ms-radial-gradient(center, ellipse cover, #eae1c8 0%, #ded6c1 35%, #e0d5b8 59%, #eae1c8 100%);
	background: radial-gradient(ellipse at center, #eae1c8 0%, #ded6c1 35%, #e0d5b8 59%, #eae1c8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eae1c8', endColorstr='#eae1c8', GradientType=1 );
	box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-bottom: 50px;
}

.catalog-item {
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
	height: 300px;
	margin-top: 50px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 5px;
	text-align: center;
}

.catalog-item:hover {
	box-shadow: 0 0 3px #ad6b1e;
	color: #ad6b1e;
}

.catalog-item:hover .name {
	color: #ad6b1e;
}

.catalog-item .name {
	color: #555;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.3em;
}

.catalog-item .image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 250px;
	margin-bottom: 5px;
	width: 250px;
}

.catalog-image-phones {
	background: url(../img/catalog/phones.jpg), #fff;
}

.catalog-image-tablets {
	background: url(../img/catalog/tablets.jpg), #fff;
}

.catalog-image-laptops {
	background: url(../img/catalog/laptops.jpg), #fff;
}

.catalog-image-headsets {
	background: url(../img/catalog/headsets.jpg), #fff;
}

.catalog-image-mice {
	background: url(../img/catalog/mice.jpg), #fff;
}

.catalog-image-keyboards {
	background: url(../img/catalog/keyboards.png), #fff;
}

.catalog-image-monitors {
	background: url(../img/catalog/monitors.jpg), #fff;
}

#info {
	border-top: 2px dashed #e0d5b8;
	color: #808080;
	margin: 50px 0;
	padding: 0 40px;
	padding-top: 50px;
	text-align: justify;
}
