/*====================ASIDE====================*/
#catalog {
	margin: 20px 0;
	position: relative;
	overflow: hidden;
	min-height: 800px;
}

#catalog ol,
#secondary-menus [id|="menu"] {
	background: #e7dbbd;
	position: absolute;
	top: 0;
	box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}

#catalog ol {
	left: 0;
	right: 0;
	padding-bottom: 5px;
	transition: right .5s ease;
}

#secondary-menus [id|="menu"] {
	left: 105%;
	right: -105%;
	transition: left .5s ease;
}

#catalog ol > li,
#secondary-menus li {
	margin: 0 auto;
	width: 80%;
}

#catalog ol > li > .menu-link,
#secondary-menus li > .menu-link {
	display: block;
	overflow: hidden;
	height: 45px;
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	line-height: 45px;
	padding: 0 5px;
	color: #676767;
}

#catalog a:hover,
#catalog a:focus,
#catalog a:active,
#catalog a:visited,
#catalog a:link {
	text-decoration: none;
}

#catalog ol > li > .menu-link:hover,
#secondary-menus li > .menu-link:hover {
	color: #fff;
	background: #bfb088;
}

#catalog ol > li > .menu-link span {
	float: right;
}

#catalog ol > li > .menu-link span,
#secondary-menus [id|="menu"] > ul li > .menu-link span {
	font-size: 14px;
	line-height: 40px;
}

#secondary-menus [id|="menu"] > ul li > .menu-link span {
	margin-right: 5px;
	float: left;
}

#catalog ol > li:nth-child(n+3) {
	border-top: 1px solid #ddcdac;
}

#catalog ol > li:first-child,
#secondary-menus [id|="menu"] > ul li:first-child {
	text-align: center;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
	margin-bottom: 5px;
	padding-left: 0;
	text-transform: uppercase;
	font-family: 'Proza Libre', sans-serif;
	background: #d8c9a1;
	width: 100%;
	height: 50px;
	line-height: 55px;
	font-size: 18px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

#secondary-menus .filter-box {
	width: 99%;
	margin: 5px auto;
	background: #fff6e4;
	padding: 15px 0;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
}

#secondary-menus .filter {
	margin-bottom: 40px;
	color: #404040;
}

#secondary-menus .filter ul:last-child {
	margin-bottom: 0;
}

#secondary-menus .filter-header {
	width: 90%;
	font-size: 16px;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
	margin-bottom: 5px;
}

#secondary-menus .filter li input {
	margin-right: 3px;
}

#secondary-menus .filter li label {
	cursor: pointer;
}


/*====================ASIDE====================*/

#aside-menu {
	margin-bottom: 20px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

/*====================ORDER====================*/

#order {
	height: 700px;
	margin-bottom: 20px;
	background: #fff;
}

.order-nav {
	height: 10%;
	background: gray;
}

.order-body {
	height: 90%;
}

.order-image {
	height: 100%;
}

.order-image img {
	display: inline-block !important;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
	line-height: 1;
}

.order-description {
	height: 100%;
	font-size: 1.7vmax;
}