/*====================ASIDE====================*/
#catalog {
	margin: 20px 0;
	position: relative;
	overflow: hidden;
	min-height: 800px;
}

#catalog ol,
#secondary-menus [id|="menu"] {
	background: #e7dbbd;
	position: absolute;
	top: 0;
	box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}

#catalog ol {
	left: 0;
	right: 0;
	padding-bottom: 5px;
	transition: right .5s ease;
}

#secondary-menus [id|="menu"] {
	left: 105%;
	right: -105%;
	transition: left .5s ease;
}

#catalog ol > li,
#secondary-menus li {
	margin: 0 auto;
	width: 80%;
}

#catalog ol > li > .menu-link,
#secondary-menus li > .menu-link {
	display: block;
	overflow: hidden;
	height: 45px;
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	line-height: 45px;
	padding: 0 5px;
	color: #676767;
}

#catalog a:hover,
#catalog a:focus,
#catalog a:active,
#catalog a:visited,
#catalog a:link {
	text-decoration: none;
}

#catalog ol > li > .menu-link:hover,
#secondary-menus li > .menu-link:hover {
	color: #fff;
	background: #bfb088;
}

#catalog ol > li > .menu-link span {
	float: right;
}

#catalog ol > li > .menu-link span,
#secondary-menus [id|="menu"] > ul li > .menu-link span {
	font-size: 14px;
	line-height: 40px;
}

#secondary-menus [id|="menu"] > ul li > .menu-link span {
	margin-right: 5px;
	float: left;
}

#catalog ol > li:nth-child(n+3) {
	border-top: 1px solid #ddcdac;
}

#catalog ol > li:first-child,
#secondary-menus [id|="menu"] > ul li:first-child {
	text-align: center;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
	margin-bottom: 5px;
	padding-left: 0;
	text-transform: uppercase;
	font-family: 'Proza Libre', sans-serif;
	background: #d8c9a1;
	width: 100%;
	height: 50px;
	line-height: 55px;
	font-size: 18px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

#secondary-menus .filter-box {
	width: 98%;
	margin: 5px auto;
	background: #fff6e4;
	padding: 15px 0;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
}

#secondary-menus .filter {
	margin-bottom: 40px;
	color: #404040;
}

#secondary-menus .filter ul:last-child {
	margin-bottom: 0;
}

#secondary-menus .filter-header {
	width: 90%;
	font-size: 17px;
	margin: 0 auto;
	color: #111;
	border-bottom: 1px solid #ccc;
	margin-bottom: 5px;
}

#secondary-menus .filter-body label {
	width: 100%;
}

#secondary-menus .filter-item-a,
#secondary-menus .filter-item-active-a {
	display: block;
	position: relative;
	height: 30px;
	line-height: 30px;
	padding-left: 5px;
	width: 100%;
}

#secondary-menus .filter-item-a {
	color: #606060;
}

#secondary-menus .filter-item-active-a {
	color: #333;
}

#secondary-menus .filter-item-a:hover {
	color: #333;
	background: #f8eecb;
}

#secondary-menus .filter-item-active-a:hover {
	color: #808080;
	background: #f8eecb;
}


#secondary-menus .filter-item {
	display: block;
	position: relative;
	width: 100%;
	padding-left: 25px;
}

#secondary-menus .filter-item-a:before,
#secondary-menus .filter-item-active-a:before {
	content: '';
	background: #eee;
	border: 1px solid #444;
	width: 20px;
	height: 20px;
	display: block;
	box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .3);
	border-radius: 3px;
	top: 5px;
	position: absolute;
}

#secondary-menus .filter-item-active-a:before {
	background: url(../img/check.png) no-repeat center, #eee;
	background-size: 16px 16px;
}

/*====================ASIDE====================*/

#aside-menu {
	margin-bottom: 20px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

/*====================ORDER====================*/

#order {
	margin-bottom: 20px;
	background: #fff;
	box-shadow: 0 3px 3px rgba(0, 0, 0, .3);
}

#order:after {
	clear: both;
	content: '';
	display: table;
}

.order-nav {
	padding: 8px 5px;
	border-bottom: 1px dotted #999;
}

.order-nav button {
	width: 19vmin;
	padding: 10px 0;
	font-size: 2.5vmin;
}

.order-nav button span {
	margin-right: 5px;
}

.order-nav:after {
	clear: both;
	content: '';
	display: table;
}

.order-body {
	padding: 15px 0;
}

.order-body:after {
	clear: both;
	content: '';
	display: table;
}

.order-button a {
	background: #44b444;
	background: -moz-linear-gradient(top, #44b444 0%, #299929 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #44b444), color-stop(100%, #299929));
	background: -webkit-linear-gradient(top, #44b444 0%, #299929 100%);
	height: 3.4vmax;
	background: -o-linear-gradient(top, #44b444 0%, #299929 100%);
	background: -ms-linear-gradient(top, #44b444 0%, #299929 100%);
	background: linear-gradient(to bottom, #44b444 0%, #299929 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44b444', endColorstr='#299929', GradientType=0 );
	box-shadow: 0 3px 3px rgba(21, 112, 21, 1);
	display: block;
	margin: 10px auto;
	width: 70%;
	font-size: 1.7vmax;
	text-align: center;
	line-height: 3.4vmax;
	border-radius: 3px;
}

.order-button a,
.order-button a:hover,
.order-button a:focus,
.order-button a:active,
.order-button a:visited,
.order-button a:link {
	color: #fafafa;
	text-decoration: none;
}

.order-button a:hover {
	background: #359935;
	background: -moz-linear-gradient(top, #359935 0%, #299929 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #359935), color-stop(100%, #299929));
	background: -webkit-linear-gradient(top, #359935 0%, #299929 100%);
	background: -o-linear-gradient(top, #359935 0%, #299929 100%);
	background: -ms-linear-gradient(top, #359935 0%, #299929 100%);
	background: linear-gradient(to bottom, #359935 0%, #299929 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#359935', endColorstr='#299929', GradientType=0 );
}

.order-name span {
	display: block;
	line-height: 20px;
	border-radius: 5px;
	font-family: 'Open sans', sans-serif;
	color: #4284b6;
	font-size: 1.8vmax;
	text-align: center;
	position: relative;
	top: -2.5vmax;
}

.order-price {
	position: relative;
	color: #444;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.7vmax;
	text-align: center;
	top: -2.5vmax;
}

.order-rating {
	width: 10.1vmax;
	margin: 0 auto;
	height: 2.4vmax;
	position: relative;
	top: -1.5vmax;
	background: url(../img/rating-stars.png) no-repeat;
	background-size: 10.1vmax 14.35vmax;
}

.order-rating-before {
	display: block;
	height: inherit;
	width: 85%;
	background: url(../img/rating-stars.png) no-repeat;
	background-size: 10.1vmax 14.35vmax;
	background-position: left -11.95vmax;
}

.order-rating-response {
	display: block;
	width: 100%;
	margin: 3px auto;
	text-align: center;
	color: #808080;
	font-size: 1.5vmax;
}

.order-image img {
	display: inline-block !important;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
	line-height: 1;
}

.order-description {
	font-size: 3.6vmin;
}

.order-description > h3 {
	font-size: 5vmin;
	margin-top: 0;
}

.order-description dl {
	background: #f3f3f3;
	box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
	padding: 10px 5px;
}

.order-description dt,
.order-description dd {
	margin-top: 10px;
}

.order-description dt:first-of-type,
.order-description dd:first-of-type {
	margin-top: 0;
}

.order-images {
	margin-top: 50px;
	padding: 0;
	padding-bottom: 10px;
	border-bottom: 1px dotted #999;
}

.order-images > h3 {
	margin: 0 auto;
	margin-bottom: 10px;
	padding-bottom: 5px;
	width: 95%;
	font-size: 4vmin;
	border-bottom: 1px solid #064506;
}

.order-images-flex {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: center;
}

.order-images .image-box {
	width: 90px;
	line-height: 90px;
	border: 1px dashed #dadada;
}

.order-images .image-box:hover {
	border: 1px solid green;
	box-shadow: 0 2px 2px rgba(0, 0, 0, .6);
}

.order-images .image-box button {
	background: #fff;
	padding: 0;
	border: none;
}

.order-images .image-box img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

.order-response {
	height: 500px;
}

/*====================MEDIA====================*/

@media screen and (min-width: 768px) {
	.order-description {
		font-size: 15px;
	}

	.order-description > h3,
	.order-images > h3 {
		font-size: 24px;
	}
}

@media screen and (max-width: 767px) {
	.order-description dd {
		margin-top: 0;
	}
}