body {
	background: #f6efda;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/*====================HEADER====================*/

#header-top {
	background: #44301d;
	height: 40px;
}

[class|="socialicon"] {
	background: #e7e7e7;
	background-size: contain;
	border-radius: 50%;
	display: block;
	height: 28px;
	width: 28px;
}

.social ul {
	font-size: 0;
}

.social li {
	display: inline-block;
	margin-right: 20px;
	margin-top: 6px;
}

[class*="facebook"] {
	background-image: url(../img/social/facebook.svg);
}

[class*="twitter"] {
	background-image: url(../img/social/twitter.svg);
}

[class*="google"] {
	background-image: url(../img/social/google.svg);
}

[class*="linkedin"] {
	background-image: url(../img/social/linkedin.svg);
}

[class*="instagram"] {
	background-image: url(../img/social/instagram.svg);
}

.meta-info {
	color: #c5c5c5;
	font-size: 1em;
	line-height: 40px;
	text-align: right;
}

.meta-info > span {
	margin-left: 30px;
}

#header-bottom {
	background: rgba(125,83,48,1);
	background: -moz-linear-gradient(top, rgba(125,83,48,1) 0%, rgba(173,107,54,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(125,83,48,1)), color-stop(100%, rgba(173,107,54,1)));
	background: -webkit-linear-gradient(top, rgba(125,83,48,1) 0%, rgba(173,107,54,1) 100%);
	background: -o-linear-gradient(top, rgba(125,83,48,1) 0%, rgba(173,107,54,1) 100%);
	background: -ms-linear-gradient(top, rgba(125,83,48,1) 0%, rgba(173,107,54,1) 100%);
	background: linear-gradient(to bottom, rgba(125,83,48,1) 0%, rgba(173,107,54,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d5330', endColorstr='#ad6b36', GradientType=0 );
	box-shadow: 0 4px 4px rgba(0, 0, 0, .3);
	height: 70px;
}

#logo h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 2.3em;
	line-height: 70px;
	margin: 0;
	padding-left: 10px;
	text-shadow: 0 2px 1px #333;
}

#logo h1 a,
#logo h1 a:hover,
#logo h1 a:focus,
#logo h1 a:active,
#logo h1 a:visited,
#logo h1 a:link {
	color: #fafafa;
	text-decoration: none;
}

header nav ul {
	float: right;
	font-size: 0;
}

header nav li {
	display: inline-block;
	font-family: 'PT Sans', sans-serif;
	font-size: 16.8px;
	line-height: 70px;
	padding: 0 10px;
	text-transform: uppercase;
}

header nav li a,
header nav li a:hover,
header nav li a:focus,
header nav li a:active,
header nav li a:visited,
header nav li a:link {
	color: #f6efda;
	text-decoration: none;
}

header nav li a {
	transition: color .2s ease;
}

header nav li a:hover {
	color: #f2cc5f;
}

/*====================SLIDER====================*/

#sliderbar {
	height: 500px;
	margin: 0 auto;
	margin-top: 20px;
}

#sliderbar [id*="slider"] {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
	height: inherit;
	margin-right: .333333333333%;
	position: relative;
	width: 33%;
}

#sliderbar [id*="slider"]:last-child {
	margin-right: 0;
	width: 33.333333333333%;
}

#phone-slider {
	background: url(../img/phoneslider.jpg), #fff;
}

#tablet-slider {
	background: url(../img/tabletslider.png), #fff;
}

#laptop-slider {
	background: url(../img/laptopslider.jpg), #fff;
}

#sliderbar [id*="slider"]:before,
#sliderbar [id*="slider"]:after {
	content: '';
	cursor: pointer;
	display: block;
	height: 40px;
	left: calc(50% - 20px);
	position: absolute;
	transform: rotateZ(45deg);
	width: 40px;
	z-index: 999;
}

#sliderbar [id*="slider"]:before {
	border-left: 1px solid #999;
	border-top: 1px solid #999;
	top: 20px;
}

#sliderbar [id*="slider"]:after {
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	bottom: 20px;
}

#sliderbar [class|="shadow"] {
	cursor: pointer;
	height: 15%;
	left: 0;
	opacity: 0;
	position: absolute;
	transition: opacity .3s ease;
	width: 100%;
}

#sliderbar .shadow-top {
	top: 0;
}

#sliderbar .shadow-bottom {
	bottom: 0;
}

#sliderbar .shadow-top:hover,
#sliderbar .shadow-bottom:hover {
	opacity: 1;
}

#sliderbar .shadow-top:hover {
	background: -moz-linear-gradient(top, rgba(235,235,235,0.65) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-linear-gradient(top, rgba(235,235,235,0.65) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom, rgba(235,235,235,0.65) 0%,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
}

#sliderbar .shadow-bottom:hover {
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(235,235,235,0.65) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(235,235,235,0.65) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(235,235,235,0.65) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}

/*====================MAIN====================*/

#box-wrapper {
	margin-top: 20px;
}

#box-wrapper [id|="box"] {
	background: #eee;
	padding-bottom: 5px;
	margin-bottom: 20px;
}

#box-wrapper [id|="box"] h3 {
	margin-left: 20px;
	font-size: 20px;
	display: inline-block;
}

#box-wrapper ul {
	font-size: 0;
	height: 260px;
}

#box-wrapper .offer {
	background: #fff;
	display: inline-block;
	height: inherit;
	margin-right: .333333%;
	width: 16.333333%;
}

#box-wrapper .offer:last-child {
	margin-right: 0;
	width: 16.666666%;
}

