body {
	background: #f6efda;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/*====================HEADER====================*/

#header-top {
	background: #44301d;
	height: 40px;
}

[class|="socialicon"] {
	background: #e7e7e7;
	background-size: contain;
	border-radius: 50%;
	display: block;
	height: 28px;
	width: 28px;
}

.social ul {
	font-size: 0;
}

.social li {
	display: inline-block;
	margin-right: 20px;
	margin-top: 6px;
}

[class*="facebook"] {
	background-image: url(../img/social/facebook.svg);
}

[class*="twitter"] {
	background-image: url(../img/social/twitter.svg);
}

[class*="google"] {
	background-image: url(../img/social/google.svg);
}

[class*="linkedin"] {
	background-image: url(../img/social/linkedin.svg);
}

[class*="instagram"] {
	background-image: url(../img/social/instagram.svg);
}

.meta-info {
	color: #c5c5c5;
	font-size: 1em;
	line-height: 40px;
	text-align: right;
}

.meta-info > span {
	margin-left: 30px;
}

#header-bottom {
	background: rgba(125,83,48,1);
	background: -moz-linear-gradient(top, rgba(125,83,48,1) 0%, rgba(173,107,54,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(125,83,48,1)), color-stop(100%, rgba(173,107,54,1)));
	background: -webkit-linear-gradient(top, rgba(125,83,48,1) 0%, rgba(173,107,54,1) 100%);
	background: -o-linear-gradient(top, rgba(125,83,48,1) 0%, rgba(173,107,54,1) 100%);
	background: -ms-linear-gradient(top, rgba(125,83,48,1) 0%, rgba(173,107,54,1) 100%);
	background: linear-gradient(to bottom, rgba(125,83,48,1) 0%, rgba(173,107,54,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d5330', endColorstr='#ad6b36', GradientType=0 );
	box-shadow: 0 4px 4px rgba(0, 0, 0, .3);
	height: 70px;
}

#logo h1 {
	font-family: 'Oxygen', sans-serif;
	font-size: 2.8em;
	line-height: 70px;
	margin: 0;
	padding-left: 10px;
	text-shadow: 0 2px 1px #333;
}

#logo h1 a,
#logo h1 a:hover,
#logo h1 a:focus,
#logo h1 a:active,
#logo h1 a:visited,
#logo h1 a:link {
	color: #fafafa;
	text-decoration: none;
}

#top-menu-wrapper {
	float: right;
	padding-right: 10px;
}

#mobile-menu-button {
	padding: 5px 8px;
	float: right;
	width: 40px;
	height: 40px;
	border: 1px solid #888;
	border-radius: 5px;
	background: #eee;
	margin-top: 15px;
}

#mobile-menu-button .icon-bar {
	height: 3px;
	margin-bottom: 4px;
	display: block;
	background: #999;
	width: 100%;
}

#mobile-menu-button .icon-bar:last-child {
	margin-bottom: 0;
}

#search {
	float: left;
	font-size: 0;
}

#search input {
	border: none;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
	font-size: 14px;
	height: 30px;
	margin-top: 20px;
	padding-left: 20px;
	width: 200px;
}

#search input:focus {
	box-shadow: 0 0 3px #f6efda;
}

#search button {
	border: none;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
	font-size: 16px;
	height: 30px;
	width: 40px;
}

#top-menu-wrapper .icons {
	float: left;
}

#top-menu-wrapper .icons .icon {
	border-right: 1px dotted #888;
	color: #eee;
	display: block;
	float: left;
	font-size: 35px;
	height: 50px;
	margin-top: 10px;
	margin-right: 15px;
	padding-right: 15px;
	position: relative;
	text-align: center;
	width: 50px;
}

#top-menu-wrapper .icons .icon:first-of-type {
	margin-left: 15px;
}

#top-menu-wrapper .icons .icon:last-of-type {
	border: none;
	margin-right: 0;
	padding-right: 0;
}

#top-menu-wrapper .icons .icon:hover {
	color: #fff;
}

#top-menu-wrapper .icons .icon:after {
	bottom: -8px;
	font-size: 13px;
	position: absolute;
	text-transform: lowercase;
}

#cart:after {
	content: 'cart';
	left: 9px;
}

#cabinet:after {
	content: 'cabinet';
	left: 4px;
}

/*====================SLIDER====================*/

#sliderbar {
	height: 500px;
	margin: 0 auto;
	margin-top: 20px;
}

#sliderbar [id*="slider"] {
	background: #fff;
	box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
	float: left;
	height: inherit;
	margin-right: .333333333333%;
	position: relative;
	width: 33%;
}

#sliderbar [id*="slider"]:last-child {
	margin-right: 0;
	width: 33.333333333333%;
}

.slideritem {
	height: inherit;
	line-height: 500px;
}

.slideritem .productname {
	position: absolute;
	display: block;
	line-height: 20px;
	border-radius: 5px;
	font-family: 'Open sans', sans-serif;
	color: #4284b6;
	font-size: 20px;
	text-align: center;
	left: 1%;
	right: 1%;
	bottom: 60px;
}

.slideritem .price {
	position: absolute;
	display: block;
	height: 50px;
	width: 25%;
	background: #fff;
	border-radius: 5px;
	font-family: 'Exo', sans-serif;
	color: #444;
	font-size: 2.5em;
	text-align: center;
	line-height: 45px;
	left: 50px;
	bottom: 90px;
}

.slideritem .more {
	position: absolute;
	display: block;
	height: 50px;
	width: 50px;
	background: #a22323;
	border-radius: 25px;
	font-family: 'Oxygen', sans-serif;
	color: #fff;
	font-size: 50px;
	text-transform: lowercase;
	text-align: center;
	line-height: 45px;
	right: 50px;
	bottom: 90px;
}

.slideritem .more:hover {
	background: #720505;
}

.vertical-carousel-inner {
	height: inherit;
}

.vertical-carousel-inner > .slideritem.next,
.vertical-carousel-inner > .slideritem.active.right {
	bottom: 0;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}

.vertical-carousel-inner > .slideritem.prev,
.vertical-carousel-inner > .slideritem.active.left {
	bottom: 0;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}

.vertical-carousel-inner > .slideritem.next.left,
.vertical-carousel-inner > .slideritem.prev.right,
.vertical-carousel-inner > .slideritem.active {
	bottom: 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.vertical-carousel-inner > .active,
.vertical-carousel-inner > .next,
.vertical-carousel-inner > .prev {
	display: block;
}

.vertical-carousel-inner > .active {
	bottom: 0;
}

.vertical-carousel-inner > .next,
.vertical-carousel-inner > .prev {
	left: 0;
	position: absolute;
	width: 100%;
}

.vertical-carousel-inner > .next {
	bottom: 100%;
}

.vertical-carousel-inner > .prev {
	bottom: -100%;
}

.vertical-carousel-inner > .next.left,
.vertical-carousel-inner > .prev.right {
	bottom: 0;
}

.vertical-carousel-inner > .active.left {
	bottom: -100%;
}

.vertical-carousel-inner > .active.right {
	bottom: 100%;
}

.slideritem img {
	display: inline-block !important;
	vertical-align: middle;
}

#sliderbar .arrow {
	cursor: pointer;
	display: block;
	height: 40px;
	left: calc(50% - 20px);
	position: relative;
	transform: rotateZ(45deg);
	width: 40px;
}

#sliderbar .shadow-top {
	top: 0;
}

#sliderbar .shadow-bottom {
	bottom: 0;
}

#sliderbar .arrow-top {
	border-left: 2px solid #999;
	border-top: 2px solid #999;
	top: 20px;
}

#sliderbar .arrow-bottom {
	border-bottom: 2px solid #999;
	border-right: 2px solid #999;
	top: 15px;
}

#sliderbar [class*="shadow"] {
	cursor: pointer;
	height: 15%;
	left: 0;
	opacity: .4;
	position: absolute;
	transition: opacity .3s ease;
	width: 100%;
}

#sliderbar .shadow-top:hover,
#sliderbar .shadow-bottom:hover {
	opacity: 1;
}

#sliderbar .shadow-top:hover {
	background: -moz-linear-gradient(top, rgba(200,200,200,0.65) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-linear-gradient(top, rgba(200,200,200,0.65) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom, rgba(200,200,200,0.65) 0%,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
}

#sliderbar .shadow-bottom:hover {
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(200,200,200,0.65) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(200,200,200,0.65) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(200,200,200,0.65) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}

/*====================ASIDE MENU====================*/

#aside-menu {
	background: #e0d5b7;
	box-shadow: 0 -2px 5px rgba(0, 0, 0, .3);
	height: 50px;
	margin-top: 20px;
}

#aside-menu nav ul {
	float: left;
	font-size: 0;
	margin-left: 10px;
}

#aside-menu nav li {
	display: inline-block;
	font-family: 'PT Sans', sans-serif;
	font-size: 14.8px;
	line-height: 50px;
	padding: 0 10px;
	text-transform: uppercase;
}

#aside-menu nav li a,
#aside-menu nav li a:hover,
#aside-menu nav li a:focus,
#aside-menu nav li a:active,
#aside-menu nav li a:visited,
#aside-menu nav li a:link {
	color: #707070;
	text-decoration: none;
}

#aside-menu nav li a {
	transition: color .2s ease;
}

#aside-menu nav li a:hover {
	color: #000;
}

/*====================MAIN====================*/

#catalog {
	align-content: flex-start;
	background: #eae1c8;
	background: -moz-radial-gradient(center, ellipse cover, #eae1c8 0%, #ded6c1 35%, #e0d5b8 59%, #eae1c8 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #eae1c8), color-stop(35%, #ded6c1), color-stop(59%, #e0d5b8), color-stop(100%, #eae1c8));
	background: -webkit-radial-gradient(center, ellipse cover, #eae1c8 0%, #ded6c1 35%, #e0d5b8 59%, #eae1c8 100%);
	background: -o-radial-gradient(center, ellipse cover, #eae1c8 0%, #ded6c1 35%, #e0d5b8 59%, #eae1c8 100%);
	background: -ms-radial-gradient(center, ellipse cover, #eae1c8 0%, #ded6c1 35%, #e0d5b8 59%, #eae1c8 100%);
	background: radial-gradient(ellipse at center, #eae1c8 0%, #ded6c1 35%, #e0d5b8 59%, #eae1c8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eae1c8', endColorstr='#eae1c8', GradientType=1 );
	box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-bottom: 50px;
}

.catalog-item {
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
	height: 300px;
	margin-top: 50px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 5px;
	text-align: center;
}

.catalog-item:hover {
	box-shadow: 0 0 3px #ad6b1e;
	color: #ad6b1e;
}

.catalog-item:hover .name {
	color: #ad6b1e;
}

.catalog-item .name {
	color: #555;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.3em;
}

.catalog-item .image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 250px;
	margin-bottom: 5px;
	width: 250px;
}

.catalog-image-phones {
	background: url(../img/catalog/phones.jpg), #fff;
}

.catalog-image-tablets {
	background: url(../img/catalog/tablets.jpg), #fff;
}

.catalog-image-laptops {
	background: url(../img/catalog/laptops.jpg), #fff;
}

.catalog-image-headsets {
	background: url(../img/catalog/headsets.jpg), #fff;
}

.catalog-image-mice {
	background: url(../img/catalog/mice.jpg), #fff;
}

.catalog-image-keyboards {
	background: url(../img/catalog/keyboards.png), #fff;
}

.catalog-image-monitors {
	background: url(../img/catalog/monitors.jpg), #fff;
}

#info {
	border-top: 2px dashed #e0d5b8;
	color: #808080;
	margin: 50px 0;
	padding: 0 40px;
	padding-top: 50px;
	text-align: justify;
}

/*====================FOOTER====================*/

footer {
	background: #574330;
	background: -moz-linear-gradient(top, #574330 0%, #44301d 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #574330), color-stop(100%, #44301d));
	background: -webkit-linear-gradient(top, #574330 0%, #44301d 100%);
	background: -o-linear-gradient(top, #574330 0%, #44301d 100%);
	background: -ms-linear-gradient(top, #574330 0%, #44301d 100%);
	background: linear-gradient(to bottom, #574330 0%, #44301d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#574330', endColorstr='#44301d', GradientType=0 );
	box-shadow: 0 -2px 2px rgba(0, 0, 0, .8);
	color: #c5c5c5;
	padding: 0 40px;
}

.footer-box {
	padding-bottom: 20px;
	padding-top: 20px;
}

.copy {
	color: #eee;
	margin-bottom: 10px;
}

.copy-remark {
	color: #aaa;
	font-size: 12px;
	padding-left: 5px;
}

.schedule {
	color: #aaa;
	font-size: 12px;
}

.schedule li {
	padding-left: 5px;
}

.schedule li:first-child {
	color: #eee;
	font-size: 14px;
	padding-left: 0;
}

.sitemap ul {
	float: left;
	margin-right: 60px;
}

.sitemap a,
.sitemap a:hover,
.sitemap a:focus,
.sitemap a:active,
.sitemap a:visited,
.sitemap a:link {
	color: #aaa;
}

.payment > span {
	color: #eee;
}

.payment > span + div{
	margin-top: 5px;
}

[class|="payment-icon"] {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
	float: left;
	height: 50px;
	margin-right: 5px;
	width: 80px;
}

[class|="payment-icon"]:first-child {
	clear: left;
}

.payment-icon-visa {
	background-image: url(../img/payment/visa.png);
}

.payment-icon-mastercard {
	background-image: url(../img/payment/mastercard.png);
}

.payment-icon-paypal {
	background-image: url(../img/payment/paypal.png);
}

.social-footer {
	margin-bottom: 30px;
}

.social-footer [class|="socialicon"] {
	height: 33px;
	width: 33px;
}

.address {
	border-top: 1px dashed #999;
	color: #999;
	font-size: 13px;
	padding-top: 10px;
}

/*====================MODAL====================*/

#login-modal .modal-content {
	background: #f6efda;
	background: -moz-radial-gradient(center, ellipse cover, #f6efda 0%, #dbd4bf 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #f6efda), color-stop(100%, #dbd4bf));
	background: -webkit-radial-gradient(center, ellipse cover, #f6efda 0%, #dbd4bf 100%);
	background: -o-radial-gradient(center, ellipse cover, #f6efda 0%, #dbd4bf 100%);
	background: -ms-radial-gradient(center, ellipse cover, #f6efda 0%, #dbd4bf 100%);
	background: radial-gradient(ellipse at center, #f6efda 0%, #dbd4bf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6efda', endColorstr='#dbd4bf', GradientType=1 );
	border: none;
}

#login-modal .modal-header {
	background: #755438;
	background: -moz-linear-gradient(top, #755438 0%, #906844 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #755438), color-stop(100%, #906844));
	background: -webkit-linear-gradient(top, #755438 0%, #906844 100%);
	background: -o-linear-gradient(top, #755438 0%, #906844 100%);
	background: -ms-linear-gradient(top, #755438 0%, #906844 100%);
	background: linear-gradient(to bottom, #755438 0%, #906844 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#755438', endColorstr='#906844', GradientType=0 );
	border-bottom: none;
	box-shadow: 0 0 3px rgba(0, 0, 0, 1);
}

#login-modal .modal-body {
	background: #f5f5f5;
	box-shadow: inset 0 0 2px rgba(0, 0, 0, .25);
	color: #707070;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	margin: 10px;
	padding-top: 50px;
}

#login-modal .form-input-box {
	padding: 30px 0;
	padding-bottom: 20px;
}

#login-modal .form-buttons-box {
	border-top: 1px dashed #512902;
	margin-top: 35px;
	padding-top: 35px;
}

#login-modal .forgotpass {
	font-size: smaller;
	margin-top: 15px;
}

#login-modal .forgotpass a {
	display: block;
	margin-top: 3px;
	text-decoration: underline;
}

#login-modal .form-buttons {
	float: right;
}

#login-modal .form-remark-box {
	margin-top: 30px;
}

#login-modal .modal-footer {
	border: none;
	padding: 0;
}
/*====================BOOTSTRAP OVERRIDING====================*/

.btn-custom-primary {
	background: #815329;
	border: 1px solid #954d0d;
	font-size: 15px;
	padding: 7px 13px;
}

.btn-custom-primary:hover {
	background: #633f1f;
	border-color: #954d0d;
}

.custom-close {
	color: #ddd;
	opacity: .8;
	text-shadow: none;
}

.custom-close:hover {
	color: #fff;
	opacity: 1;
	text-shadow: 0 1px 0 #000;
}

.custom-input:focus {
	border-color: #a14206;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(137, 72, 9, .6);
}

