body {
	background: #f6efda;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#header-top {
	background: #44301d;
	height: 40px;
}

[class|="socialicon"] {
	background: #e7e7e7;
	background-size: contain;
	border-radius: 50%;
	display: block;
	height: 32px;
	width: 32px;
}

.social ul {
	font-size: 0;
}

.social li {
	display: inline-block;
	margin-right: 20px;
	margin-top: 4px;
}

[class*="facebook"] {
	background-image: url(../img/social/facebook.svg);
}

[class*="twitter"] {
	background-image: url(../img/social/twitter.svg);
}

[class*="google"] {
	background-image: url(../img/social/google.svg);
}

[class*="linkedin"] {
	background-image: url(../img/social/linkedin.svg);
}

[class*="instagram"] {
	background-image: url(../img/social/instagram.svg);
}

.meta-info {
	color: #bbb;
	font-size: 1em;
	line-height: 40px;
	text-align: right;
}

.meta-info > span {
	margin-left: 30px;
}

#header-bottom {
	background: #7D5330;
	box-shadow: 0 3px 3px rgba(0, 0, 0, .3);
	height: 60px;
}

header nav ul {
	float: right;
	font-size: 0;
}

header nav li {
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-size: 15.25px;
	line-height: 60px;
	padding: 0 10px;
	text-transform: uppercase;
}

header nav li a,
header nav li a:hover,
header nav li a:focus,
header nav li a:active,
header nav li a:visited,
header nav li a:link {
	color: #f6efda;
	text-decoration: none;
}

header nav li a {
	transition: color .2s ease;
}

header nav li a:hover {
	color: #b9a15b;
}